.btn-primary {
    background: var(--color-primary);
    color: white;
    padding: .7rem 1.2rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity .2s ease;
}

.btn-primary:hover {
    opacity: 0.8;
}
