/* Reset minimalista */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Variables globales */
:root {
    --color-primary: #007bff;
    --color-bg: #f5f5f5;
    --color-text: #222;
    --font-main: "Inter";
}

body {
    font-family: var(--font-main);
    font-size: 16px;
    background: var(--color-bg);
    color: var(--color-text);

    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;

    padding-bottom: 20px; 
}
