/* ====== HEADER ====== */
header {
    padding: 1.5rem;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

#app {
    padding: 2rem;
}

/* ====== CONTENEDOR PRINCIPAL ====== */
.pomodoroContainer {
    margin: 60px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 4px 22px rgba(0,0,0,0.12);
    border: 1px solid rgba(0,0,0,0.08);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pomodoroContainer {
    
}